In [9]:
a= 10
if a== 10 :
    print("Hi bro")

Hi bro

In [11]:
a= 10
if a>5 :
    pass

In [21]:
a=10
if a<8:
    print("print this if condition is true")
else :
    print("greater number")

greater number

In [33]:
a=11
if a!=11 :
    print ("my condition is false")
elif a==10:
     print("Print this")
elif a==11 :        
    print("Hi Bro")

Hi Bro

In [43]:
price = int(input())
if price<500 :
    print("I will able to buy something")
if price < 400 :
    print ("I will able to buy a jacket")
elif price < 300 :
    prnt("I will able to buy a shirt")
elif price <200 :
    print("I would like to do something")
else : print("I wont able to buy anything with this price tag")

500
I wont able to buy anything with this price tag

In [61]:
marks = int(input())  
if marks > 600 :
    print ("Got selected in GRE")
elif marks >500:
    print ("NO GRe")
    print("got TOOEFL")
elif marks > 400 :
    print (" improve yourself")
else : print(" Try something else")

649
Got selected in GRE

In [65]:
value = float(input("Enter the value "))
if value >=0:
  if value == 0:  
    print("The value is Zero")
  else : print ("The value is Positive")
 
else : print("The value is negative")

Enter the value 10
The value is Positive

In [122]:
l=[1,2,3,4,5,'sudh',234.45]
l

[1, 2, 3, 4, 5, 'sudh', 234.45]

In [152]:
for i in l :
    if type(i) == int or type(i)== float:
        print(i)
    elif type(i) == str :
        print(i)

1
2
3
4
5
sudh
234.45