In [2]:
s = "this is My First Python programming class and i am learNING python string and its function"

In [3]:
s

'this is My First Python programming class and i am learNING python string and its function'

In [8]:
#1 . Try to extract data from index one to index 300 with a jump of 3 
s[1:300:3]

'h   r tnrrmglsnimeNGyosi dtfco'

In [9]:
#2. Try to reverse a string without using reverse function 
s[::-1]

'noitcnuf sti dna gnirts nohtyp GNINrael ma i dna ssalc gnimmargorp nohtyP tsriF yM si siht'

In [11]:
#3. Try to split a string after conversion of entire string in uppercase 
s.upper()

'THIS IS MY FIRST PYTHON PROGRAMMING CLASS AND I AM LEARNING PYTHON STRING AND ITS FUNCTION'

In [16]:
s.split()

['this',
 'is',
 'My',
 'First',
 'Python',
 'programming',
 'class',
 'and',
 'i',
 'am',
 'learNING',
 'python',
 'string',
 'and',
 'its',
 'function']

In [18]:
#4. try to convert the whole string into lower case 
s.lower()

'this is my first python programming class and i am learning python string and its function'

In [20]:
#5 . Try to capitalize the whole string 
s.capitalize()

'This is my first python programming class and i am learning python string and its function'

In [26]:
#6 . Write a diference between isalnum() and isalpha()
s1 ='1234am' 
s1.isalnum()
#isalnum means it can contain alphabets as well numericals

True

In [28]:
s2='ALDEUBCNEI'
s2.isalpha()
#islapha means it must contain alphabtes only

True

In [34]:
#7. Try to give an example of expand tab
s3='malayali\tpwoli\taddaaa...!!!'
s3.expandtabs()

'malayali        pwoli   addaaa...!!!'

In [38]:
#8 . Give an example of strip , lstrip and rstrip 
s4="   raju   ramu   arjun   "
s4.strip()

'raju   ramu   arjun'

In [41]:
#lstrip
s4.lstrip()

'raju   ramu   arjun   '

In [43]:
#rstrip
s4.rstrip()

'   raju   ramu   arjun'

In [52]:
#9.  Replace a string charecter by another charector by taking your own example 
s5= "ram"
s5

'ram'

In [55]:
s6= s5 + rajya
s6

'ramrajya'

In [62]:
#10 . Try  to give a defination of string center function with and exmple 
s.center(110,'@')#this is the string placed in center with length defined

'@@@@@@@@@@this is My First Python programming class and i am learNING python string and its function@@@@@@@@@@'

In [63]:
#11 . Write your own definition of compiler and interpretor without copy paste form internet in your own language
Compiler makes the code compile and then run in program. interpreter does that process in one step . time varies for both.

In [64]:
#12 . Python is a interpreted of compiled language give a clear ans with your understanding 
each line is checked and compiled in python, so it is said Python is a interpreted of compiled language.

In [3]:
#13 . Try to write a usecase of python with your understanding .
#Python is used for many purposes in string reversing also.
#eg:
s9=""""The Malayali people (Malayalam pronunciation: ​[mɐlɐjɐːɭi]) (also spelt Malayalee and also known by the demonym Keralite) are a Dravidian ethnolinguistic group originating from the present-day state of Kerala in India, occupying its southwestern Malabar coast. They are predominantly native speakers of the Malayalam language, one of the six Classical languages in India.[19] The state of Kerala was created in 1956 through the States Reorganisation Act. Prior to that, since the 1800s existed the Kingdom of Cochin, the Kingdom of Travancore, Malabar District, and South Canara of the British India. The Malabar District was annexed by the British through the Third Mysore War (1790–92) from Tipu Sultan. Before that, the Malabar District was under various kingdoms including the Zamorins of Calicut, Kingdom of Tanur, Arakkal kingdom, Kolathunadu, Valluvanad, and Palakkad Rajas.[20][21]

According to the Indian census of 2011, there are approximately 33 million Malayalis in Kerala,[22] making up 97% of the total population of the state. Malayali minorities are also found in the neighboring state of Tamil Nadu, mainly in Kanyakumari district and Nilgiri district and Dakshina Kannada and Kodagu districts of Karnataka and also in other metropolitan areas of India. Over the course of the later half of the 20th century, significant Malayali communities have emerged in Persian Gulf countries, including the United Arab Emirates (UAE), Bahrain, Saudi Arabia, Oman, Qatar and Kuwait and to a lesser extent, other developed nations with a primarily immigrant background such as Malaysia, Singapore, the United States (US), the United Kingdom (UK), Australia, New Zealand and Canada. As of 2013, there were an estimated 1.6 million ethnic Malayali expatriates worldwide.[23] The estimated population of Malayalees in Malaysia in year 2020 is approximately 348,000, which makes up 12.5% of the total number of Indian population in Malaysia that makes them the second biggest Indian ethnic group in Malaysia, after the Tamils. Most of the Malayalee population in Malaysia aged 18 to 30 are known to be either the third, fourth, or fifth generation living as a Malaysian citizen. According to A. R. Raja Raja Varma, Malayalam was the name of the place, before it became the name of the language spoken by the people. """

In [15]:
''.join(reversed(s9))

' .elpoep eht yb nekops egaugnal eht fo eman eht emaceb ti erofeb ,ecalp eht fo eman eht saw malayalaM ,amraV ajaR ajaR .R .A ot gnidroccA .nezitic naisyalaM a sa gnivil noitareneg htfif ro ,htruof ,driht eht rehtie eb ot nwonk era 03 ot 81 dega aisyalaM ni noitalupop eelayalaM eht fo tsoM .slimaT eht retfa ,aisyalaM ni puorg cinhte naidnI tseggib dnoces eht meht sekam taht aisyalaM ni noitalupop naidnI fo rebmun latot eht fo %5.21 pu sekam hcihw ,000,843 yletamixorppa si 0202 raey ni aisyalaM ni seelayalaM fo noitalupop detamitse ehT ]32[.ediwdlrow setairtapxe ilayalaM cinhte noillim 6.1 detamitse na erew ereht ,3102 fo sA .adanaC dna dnalaeZ weN ,ailartsuA ,)KU( modgniK detinU eht ,)SU( setatS detinU eht ,eropagniS ,aisyalaM sa hcus dnuorgkcab tnargimmi yliramirp a htiw snoitan depoleved rehto ,tnetxe ressel a ot dna tiawuK dna rataQ ,namO ,aibarA iduaS ,niarhaB ,)EAU( setarimE barA detinU eht gnidulcni ,seirtnuoc fluG naisreP ni degreme evah seitinummoc ilayalaM tnacifingis ,yrutnec ht02 eht fo flah retal eht fo esruoc eht revO .aidnI fo saera natiloportem rehto ni osla dna akatanraK fo stcirtsid ugadoK dna adannaK anihskaD dna tcirtsid irigliN dna tcirtsid iramukaynaK ni ylniam ,udaN limaT fo etats gnirobhgien eht ni dnuof osla era seitironim ilayalaM .etats eht fo noitalupop latot eht fo %79 pu gnikam ]22[,alareK ni silayalaM noillim 33 yletamixorppa era ereht ,1102 fo susnec naidnI eht ot gnidroccA\n\n]12[]02[.sajaR dakkalaP dna ,danavullaV ,udanuhtaloK ,modgnik lakkarA ,runaT fo modgniK ,tucilaC fo sniromaZ eht gnidulcni smodgnik suoirav rednu saw tcirtsiD rabalaM eht ,taht erofeB .natluS upiT morf )29–0971( raW erosyM drihT eht hguorht hsitirB eht yb dexenna saw tcirtsiD rabalaM ehT .aidnI hsitirB eht fo aranaC htuoS dna ,tcirtsiD rabalaM ,erocnavarT fo modgniK eht ,nihcoC fo modgniK eht detsixe s0081 eht ecnis ,taht ot roirP .tcA noitasinagroeR setatS eht hguorht 6591 ni detaerc saw alareK fo etats ehT ]91[.aidnI ni segaugnal lacissalC xis eht fo eno ,egaugnal malayalaM eht fo srekaeps evitan yltnanimoderp era yehT .tsaoc rabalaM nretsewhtuos sti gniypucco ,aidnI ni alareK fo etats yad-tneserp eht morf gnitanigiro puorg citsiugnilonhte naidivarD a era )etilareK mynomed eht yb nwonk osla dna eelayalaM tleps osla( )]iɭːɐjɐlɐm[\u200b :noitaicnunorp malayalaM( elpoep ilayalaM ehT"'

In [ ]:
#Thank you